html{
  
    background-image: url(https://78.media.tumblr.com/d0c7d70e0d7dd0d6de1cb0ada2eb3265/tumblr_oazn5tifaZ1v5v2d3o1_500.png)
    
    
}
img{
    height: 100%;
    width: 100%;
}
div{
    height: 100%;
    width: 100%;
    position: relative;
  
}
